<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Viewer</title>
</head>

<body>
    <div>
        <nav>

            <a href="https://github.com/grobocop12/js-youtube-viewer" style="float: right;">
                <img loading="lazy" width="149" height="149"
                    src="https://github.blog/wp-content/uploads/2008/12/forkme_right_green_007200.png?resize=149%2C149"
                    class="attachment-full size-full" alt="Fork me on GitHub" data-recalc-dims="1">
            </a>
        </nav>
    </div>
    <div>
        <form method="POST" action="/">
            <div>
                <label for="videoUrl">Youtube video URL:</label>
            </div>
            <div>
                <input type="text" name="videoUrl" id="videoUrl">
                <input type="submit" value="submit">
            </div>
        </form>
    </div>
</body>

</html>