<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viewer</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://www.youtube.com/iframe_api"></script>
    <script>
        const id = '<%= id %>'
        const videoId = '<%= videoId %>'
    </script>
</head>

<body>
    <div>
        <div id="player"></div>
    </div>
    <div>
        <div>
            <form>
                <input type="text" name="videoId" id="inputVideoId">
                <input type="submit" id="submitChange" value="Change video">
            </form>
        </div>
    </div>
    <script src="/js/app.js"></script>
</body>

</html>